.halloween-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 75px 0 0 0;
  position: relative;
  aspect-ratio: 3.5 / 1;
  overflow: hidden;
}

.halloween-banner a {
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.halloween-banner a:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.halloween-banner .banner-img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* Button */
.btn-explore {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-family: 'SVN-Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.1px;
  color: #9333ea;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 82px;
  text-align: center;
  box-shadow: 0px 0px 24px 0px #fff;
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin: 20px;
}

.btn-explore:hover {
  border-color: #fff;
  box-shadow: 0px 0px 28px 2px #fff;
  transform: translateX(-50%) scale(1.03);
}

/* -------- Responsive -------- */

/* iPad & tablet (width ≤ 1024px) */
@media (max-width: 1024px) {
  .halloween-banner {
    aspect-ratio: 3.5 / 1;
  }


  .btn-explore {
    font-size: 1rem;
    padding: 0.8rem 1.8rem;
    bottom: 24px;
    display: none;
  }
}

/* Mobile (width ≤ 768px) */
@media (max-width: 768px) {
  .halloween-banner {
    aspect-ratio: 3.5 / 1;
    margin: 60px 0 0 0;
  }


  .btn-explore {
    font-size: 0.95rem;
    padding: 0.7rem 1.5rem;
    bottom: 18px;
    display: none;
  }
}

/* Very small mobile (width ≤ 480px) */
@media (max-width: 480px) {
  .halloween-banner {
    aspect-ratio: 3.5 / 1;
  }

  .halloween-banner .banner-img {
    margin-top: 20px;
  }

  .btn-explore {
    display: none;
  }
}
